<div class="container">
  <h1>Stopwatch</h1>

  <div class="time-container">
      <button class="btn success" (click)="onStartStopClick()">Start / Stop</button>
      <button class="btn warning" (click)="onWaitClick()">Wait</button>
      <button class="btn danger" (click)="onResetClick()">Reset</button>
  </div>
  <div class="time-container">
      <h3>{{ time | timer }}</h3>
  </div>

  <div class="doc-container">
      <p>
        * «Start / Stop» - запуск / остановка отсчета времени, останавливает и обнуляет значение таймера.
      </p>
      <p>
        * «Wait» - работает на двойной клик (время между нажатиями не более 300 мс!) таймер должен прекратить отсчет времени; если после него нажать старт, то возобновляется отсчет.
      </p>
      <p>
        * «Reset» - сброс таймера на 0.  Обнуляет таймер и снова начинает отсчет.
      </p>
  </div>
</div>
